ktor {
    development = false
    deployment {
        port = 8080
        port = ${?PORT}
    }
    application {
        modules = [ org.openmbee.flexo.mms.auth.ApplicationKt.module ]
    }
}

jwt {
    domain = "https://jwt-provider-domain/"
    domain = ${?JWT_DOMAIN}
    audience = "jwt-audience"
    audience = ${?JWT_AUDIENCE}
    realm = "Flexo MMS Microservices"
    realm = ${?JWT_REALM}
    secret = "test1234"
    secret = ${?JWT_SECRET}
}

ldap {
    location = "ldap://ldap.openmbee.org:636"
    location = ${?LDAP_LOCATION}
    base = "dc=openmbee,dc=org"
    base = ${?LDAP_BASE}
    userPattern = "uid=%s,ou=users"
    userPattern = ${?LDAP_USER_PATTERN}
    userNamespace = "ldap/user/"
    userNamespace = ${?LDAP_USER_NAMESPACE}
    groupSearchFilter = "(&(objectclass=group)(uniqueMember=%s)(|(%s)))"
    groupSearchFilter = ${?LDAP_GROUP_SEARCH_FILTER}
    groupAttribute = "cn"
    groupAttribute = ${?LDAP_GROUP_ATTRIBUTE}
    groupNamespace = "ldap/group/"
    groupNamespace = ${?LDAP_GROUP_NAMESPACE}
    groupStore {
        uri = "http://localhost:8081/bigdata/namespace/kb/sparql"
        uri = ${?LDAP_GROUP_STORE_URI}
        context = "http://layer1-service/"
        context = ${?LDAP_GROUP_STORE_CONTEXT}
    }
}
