ktor {
    development = true
    deployment {
        port = 8080
        port = ${?PORT}
    }
    application {
        modules = [ org.openmbee.mms5.auth.ApplicationKt.module ]
    }
}

jwt {
    domain = "https://jwt-provider-domain/"
    audience = "jwt-audience"
    realm = "MMS5 Auth Service"
    secret = "test1234"
}

ldap {
    location = "ldap.openmbee.org:636"
    pattern = "uid=%s,ou=users"
}

consul {
    enabled = false
    service {
        url = "https://consul-server-0:8501"
        token = "123456"
        name = "auth-service"
        port = 8080
        tags = ["L0", "authentication"]
    }
}
